label{
    display: flex;
    flex-direction: column;
}

label:not(:last-child){
    margin-bottom: 20px;
}
.title{
    width:50%;
    justify-content: space-between;
    align-self: center;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
.title1{
    width:100%;
    justify-content: space-between;
}
.title2{
    font-size: 20px;
    margin-bottom: 10px;
}
.button{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.required{
    padding: 0px;
    font-size: 12px;
    line-height: 1;
    color:red;
    text-align: left;
}
input{
    display: block;
    padding: 20px;
    flex:1;
    background-color: #e5e5e5;
    border: 2px solid #5b8f8f;
    border-radius: 10px;
}
h3{
    font-size: 15px;
}